html {
    background: #cccccc; /* 1 */
    color: #000; /* 2 */
    font-family: sans-serif; /* 3 */

}


body {
    margin: 50;
    text-align:center;
}

.peque {
  font-family: arial;
  font-size:13px;
}

.autor {
  font-family: arial;
  font-size:8px;
}
